<div class="text-center">
    @*<h1 class="display-4"> Pricing calculator</h1>*@
    <p class="text-heading3" style="margin-top:20px;margin-bottom:20px;">Configure and estimate the costs for Azure / AWS products</p>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>

@*<script src="js/site.js" asp-append-version="true"></script>*@

<script type="text/javascript">
    jQuery(document).ready(function () {
        $(".loadingdiv").hide();
        var hostname = hostname = window.origin;

        // Check if POST ORG and POST PAT1 is there.
        var postOrg = '@ViewBag.POSTOrg';
        var postPat1 = '@ViewBag.POSTPat1';
        var postProjectName = '@ViewBag.POSTProjectName';

        if (postOrg.length > 0 && postPat1.length > 0 && postProjectName.length > 0) {
            // Set Org & PAT
            sessionStorage.setItem('org', postOrg);
            sessionStorage.setItem('pat', postPat1);
            sessionStorage.setItem('currentSelectedProject', postProjectName);
        }

        // SetBackColor for TopMenu
        $(".divCloudEconomics").addClass("selectedTopMenu");
        $(".divCloudEconomics span a").addClass("selectedTopMenu");

        // Get Selected Project from DevOps
        var currentSelectedProject = sessionStorage.getItem('currentSelectedProject');
        $(".projectName").text(currentSelectedProject);

        $(".awsChkbox").prop("disabled", true);

        //Get Org and PAT
        var org = sessionStorage.getItem("org");
        var pat = sessionStorage.getItem("pat");

        function hideDivTab() {
            $(".divTab").hide();
        }

        function LoadProductList(source) {
            // Load Products as per selected checkbox
            var url = hostname + "/api/v1/GetProductList?source=" + source;
            jQuery.ajax({
                url: url,
                type: "get",
                contentType: "application/json",
                success: function (result, status, xhr) {

                    if (result.length > 0) {
                        fillProductList(result, source);
                        calucalteTotalCost();
                        registerTabEvents();
                        ActiveSelectedTab(source);
                        createEstimateSummary(source);
                        calculateCF();
                        if (source == "AWS") {
                            highlightTabSelect(1);
                        }
                        else {
                            highlightTabSelect(0);
                        }
                    }
                },
                error: function (xhr, status, error) {
                    console.log(xhr)
                }
            });
        }

        function fillProductList(result, source) {

            var priceValClass = "totalpriceValAzure";
            var productListDiv = ".divProductListAzure";

            if (source == "AWS") {
                priceValClass = "totalpriceValAws";
                productListDiv = ".divProductListAWS";
            }

            $(productListDiv).html('');

            for (var i = 0; i < result.length; i++) {
                var product = result[i];
                var productName = product.productName;   // 'Virtual Machines';
                var imageSrc = product.imageSrc;     // '/AzureIcons/VM-icon.png';
                var prodDesc = product.description;  // 'Provision Windows and Linux virtual machines in seconds';
                var prodPrice = product.unitPrice;    // 152.57;
                var totalprodPrice = prodPrice;
                var prodDetails = product.details;     //'1 D2 v3 (2 vCPUs, 8 GB RAM) x 730 Hours (Pay as you go), Windows (License included), OS Only; 0 managed disks – S4, 100 transaction units; Inter Region transfer type, 5 GB outbound data transfer from West US to East Asia';
                var cf = product.cf;
                var totalCf = cf;
                var itemDiv = ' <div class="divProductItems"> ' +
                    ' <div class="divproductimagecontainer inline-flex">' +
                    '    <img class="img-product" src=' + imageSrc + '>' +
                    '    <div>' +
                    '        <div class="imageDescription">' + productName + '</div> ' +
                    '       <div class="productDescription"> ' + prodDesc + '</div>' +
                    '   </div>' +
                    '  </div> ' +
                    '  <div class="productdetails">' + prodDetails + '</div> ' +
                    '  <div class="pricediv inline-flex margin-top30"> ' +
                    '      <div class="divpriceInfo"> ' +
                    '         <span class="costInfo">Per Instance</span> ' +
                    '         <span class="priceText margin-left20">$</span><span class="priceVal priceText margin-right20">' + prodPrice + '</span> ' +
                    '    </div>  <span class="costInfo margin-top10" style="font-style:normal">X</span> ' +
                    '   <div class="number-holder wide widest "> ' +
                    '      <div class="wa-textNumber">  ' +
                    ' <input class="spinbutton numeric" role="spinbutton"  aria-valuemax="100"  aria-valuemin="0"  aria-valuenow="1" type="number" min="0" value="1">  </div> </div>' +
                    '   <div class="divTotalpriceInfo" style="display:none">' +
                    '                 <span class="costInfo">Total: </span>' +
                    '                 <span class="priceText margin-left20">$</span><span class="  ' + priceValClass + ' totalpriceVal  priceText margin-right20">' + totalprodPrice + '</span>' +
                    '    </div> <div class="divCF cfclass"> ' + cf + '</div> <div class="divCFTotal cfclass"> ' + totalCf +'</div>' +

                    '  </div>' +
                    ' </div> ';
                $(productListDiv).append(itemDiv);

                registerspinbuttonEvent(source);

            }
        }

        function calucalteTotalCost() {
            var sumAzure = 0;
            $('.totalpriceValAzure').each(function () {
                sumAzure += parseFloat($(this).text());  // Or this.innerHTML, this.innerText
            });
            $(".totalcostAzure").html(parseFloat(sumAzure).toFixed(2));

            // Getting total PF values
            $("div.divCFTotal").each(function () { });

            var sumAws = 0;
            $('.totalpriceValAws').each(function () {
                sumAws += parseFloat($(this).text());  // Or this.innerHTML, this.innerText
            });
            $(".totalcostAWS").html(parseFloat(sumAws).toFixed(2));
        }

        function calculateCF() {

            // Calculate Total CF Sum
            var sumCF = 0;
            $('.divCFTotal').each(function () {
                sumCF += parseFloat($(this).text());
            });

            var maindivElement = ".azureProductList";

            // Calculate Total Instance
            var sumInstance = 0;
            $(maindivElement).find("div.divProductItems").each(function (e) {
                sumInstance += parseFloat($(this).find("input.spinbutton").val());
            });

            var cfAvg = parseFloat(sumCF / sumInstance).toFixed(2);
            var cfPercentage = parseFloat(parseFloat(cfAvg / sumInstance) * 100).toFixed(2);

            $(maindivElement).find('span.cfTotalPercentage').text(cfPercentage);
        }

        // Clear Search Event
        $(".clear-search").click(function (e) {
            // Clear the ProductSearch textbox
            $(".product-search").val('');

            // Show All Product
            $('.divProductItems').show();

        });

        // Product Search Event
        $(".product-search").keyup(function (e) {
            var searchText = $(this).val().trim().toLowerCase();

            // First Hide all
            $('.divProductItems').hide();

            if (searchText.length > 0) {

                $('.divProductItems').each(function () {
                    if ($(this).find("div.imageDescription").html().trim().toLowerCase().indexOf(searchText) >= 0) {
                        $(this).show();
                    }
                });
            }
            else {
                // Show All Product
                $('.divProductItems').show();
            }

        });


        function hideAllProductDataDiv() {
            $(".azureProductList").hide();
            $(".awsProductList").hide();
        }

        function highlightTabSelect(surce) {
            //RemoveHighlight Class for all
            $(".btnawsTab").removeClass("selectedTopMenu");
            $(".btnAzureTab").removeClass("selectedTopMenu");

            if (surce == 0) {
                // Hihlight self
                $(".btnAzureTab").addClass("selectedTopMenu");
            }
            if (surce == 1) {

                // Hihlight self
                $(".btnawsTab").addClass("selectedTopMenu");
            }
        }

        function registerTabEvents() {
            // Click on AzureTab
            $(".btnAzureTab").click(function (e) {
                // hIDE aLL
                hideAllProductDataDiv();

                // Display AzreTab
                $(".azureProductList").show();
                highlightTabSelect(0);

            });

            // Click on AWS
            $(".btnawsTab").click(function (e) {
                // hIDE aLL
                hideAllProductDataDiv();

                // Show AWS
                $(".awsProductList").show();
                highlightTabSelect(1);

            });
        }

        //Checkox group checked
        $('.azureChkbox').change(function () {
            if (this.checked) {
                // Load Data for selected Options
                LoadProductList($(this).val());
            }
            else {
                // Hide the selected resources
                $(".azureProductList").hide();
                // Disable Tab Control
                $(".btnAzureTab").hide();

                // CheckIf AWS checkbox is checked then display that
                if ($('.awsChkbox:checked').length > 0) {

                    $(".awsProductList").show();
                    $(".btnawsTab").show();
                    highlightTabSelect(1);
                }
            }

        });

        //Checkox group checked
        $('.awsChkbox').change(function () {
            if (this.checked) {
                // Load Data for selected Options
                LoadProductList($(this).val());
            }
            else {
                // Hide the selected resources
                $(".awsProductList").hide();
                // Disable Tab Control
                $(".btnawsTab").hide();

                // CheckIf Azure checkbox is checked then display that
                if ($('.azureChkbox:checked').length > 0) {

                    $(".azureProductList").show();
                    $(".btnAzureTab").show();
                    highlightTabSelect(0);
                }
            }

        });


        function hideProductData(source) {
            if (source == "Azure") {
                $(".azureProductList").hide();

                // Disable Tab Control
                $(".btnAzureTab").hide();
            }
            if (source == "AWS") {
                $(".awsProductList").hide();

                // Disable Tab Control
                $(".btnawsTab").hide();
            }
        }

        function ActiveSelectedTab(source) {
            if (source == "Azure") {
                $(".azureProductList").show();
                $(".awsProductList").hide();

                // Disable Tab Control
                $(".btnAzureTab").show();
            }
            if (source == "AWS") {
                $(".awsProductList").show();
                $(".azureProductList").hide();

                // Disable Tab Control
                $(".btnawsTab").show();
            }
        }


        function registerspinbuttonEvent(source) {
            $(".spinbutton").change(function (e) {
                var selectedVal = $(this).val();
                var unitPrice = $(this).closest(".pricediv").find("span.priceVal").html().trim();
                var totalPrice = parseFloat(unitPrice * selectedVal).toFixed(2);
                var cf = $(this).closest(".pricediv").find("div.divCF").html().trim();;
                var totalCf = parseFloat(selectedVal * cf).toFixed(2);


                // UpdateTotalPrice
                $(this).closest(".pricediv").find("span.totalpriceVal").html(totalPrice);

                // Update Total CF =
                //divCFTotal
                $(this).closest(".pricediv").find("div.divCFTotal").html(totalCf);

                calucalteTotalCost();
                createEstimateSummary(source);
                calculateCF();
            });
        }

        var rowData;

        function createEstimateSummary(source) {
            // Clean the Summary tag

            rowData = '';
            var maindivElement = '';
            if (source == "Azure") {
                maindivElement = ".azureProductList";
            }
            if (source == "AWS") {
                maindivElement = ".awsProductList";
            }
            $(maindivElement).find("div.estimateSummary").html('');

            // Check All selected quantity.
            //If any quantity > 0, Get the Product Name, Quantity, Total cose.
            // Add into Arrray to display in the Summary
            var summaryElement;

            var tblstartContent = '<div class="estimateSummaryItem">   <table style="border:1px solid black">';
            var tableEndContent = '  </table>  </div> ';
            var rData = '';
            rData += '      <tr style="border:1px solid black"> ' +
                '          <td><span class="font22boldmarginright30">Count</span></td> ' +
                '         <td> <span class="font22boldmarginright30">Resource </span> </td> ' +
                '         <td><span class=" font22boldmarginright30">Cost </span></td> ' +
                '         <td><span class=" font22boldmarginright30">CF(KG CO2/Year)</span></td> ' +
                '     </tr> ';

            var total_estimation = 0;
            $(maindivElement).find("div.divProductItems").each(function (e) {
                var instanceCount = $(this).find("input.spinbutton").val();
                if (instanceCount > 0) {
                    var productName = $(this).find("div.imageDescription").html();
                   // var tp = $(this).find("span.totalpriceVal").html();
                   // var cpt = $(this).find("div.divCFTotal").html();

                    var unitPrice = $(this).find("span.priceVal").html().trim();
                    var totalPrice = parseFloat(unitPrice * instanceCount).toFixed(2);
                    total_estimation += parseFloat(totalPrice);

                    var cf = $(this).find("div.divCF").html().trim();
                    var totalCf = parseFloat(instanceCount * cf).toFixed(2);
                   
                    rowData += instanceCount + " - " + productName + "~*";
                    rData += '      <tr> ' +
                        '          <td><span class="font22boldmarginright30">' + instanceCount + '</span></td> ' +
                        '         <td> <span class="font22boldmarginright30">' + productName + ' </span> </td> ' +
                        '         <td><span class="total_estimation font22boldmarginright30">  $ ' + totalPrice + '</span></td> ' +
                        '         <td><span class="total_cf font22boldmarginright30">   ' + totalCf + '</span></td> ' +
                        '     </tr> ';
                }

            });

            tblstartContent += rData;
            tblstartContent += tableEndContent;

            $(maindivElement).find("div.estimateSummary").append(tblstartContent);

            $(".totalcostAzure").html(parseFloat(total_estimation).toFixed(2));

            // Calculate total CF
            var total_cf = 0;
            $('.total_cf').each(function () {
                total_cf += parseFloat($(this).text());
            });
            $(".totalCF_value").html(parseFloat(total_cf).toFixed(2));

        }

        $(".addWorkItemIT").click(function (e) {
            $(".loadingdiv").show();
            //displayModalMessage();

            var description = "Test";
            var taskTitle = "Task for IT Team to create Resources"
            // Create WorkItem For IT TEAM

            // Needs to know for which project
            // Load Products as per selected checkbox
            var url = hostname + "/api/v1/CreateWorkItem?org=" + org + "&pat=" + pat + "&projectName=" + currentSelectedProject + "&taskTitle=" + taskTitle + "&desc=" + rowData;
            jQuery.ajax({
                url: url,
                type: "get",
                contentType: "application/json",
                success: function (result, status, xhr) {
                    $(".loadingdiv").hide();
                    if (result.length > 0) {
                        // Show the Carbon Emmision Reduction Message.
                        displayModalMessage();
                    }
                },
                error: function (xhr, status, error) {
                    console.log(xhr)
                }
            });

        });

        function displayModalMessage() {
            // Get CF Percentages
            var maindivElement = ".azureProductList";
            var cfPercentages = $(maindivElement).find('span.cfTotalPercentage').text();
            var cfMessage = "You have saved <b> " + cfPercentages + " % </b> of <b>Carbon footprints </b> using our <b>OneClick </b> application till this stage";

            if (cfPercentages > 30) {
                $(".cfmessage").removeClass("error-text");
                $(".cfmessage").addClass("color-green");
            }
            else {
                $(".cfmessage").addClass("error-text");
                $(".cfmessage").removeClass("color-green");
                cfMessage = "You have saved <b> " + cfPercentages + " % </b> of <b>Carbon footprints </b> using our <b>OneClick </b> application till this stage. You may want to revisit you choice to improve and care to environment.";
            }

            $(".cfmessage").html(cfMessage);

            $(".modal").show();
        }

        function registerModalPopup() {
            $(".modal").hide();

            $(".close").click(function () {
                $(".modal").hide();
            });

            //// When the user clicks anywhere outside of the modal, close it
            //window.onclick = function (event) {
            //    if (event.target == modal) {
            //        $(".modal").hide();
            //    }
            //}
        }

        calucalteTotalCost();
        hideDivTab();
        hideAllProductDataDiv();

        //createEstimateSummary();

        // No Default ProductList
        //LoadProductList();


        // No default Tab Event
        //registerTabEvents();
        registerModalPopup();

    });
</script>

<span class="projectName"></span>
<div class="loadingdiv text-center loadingImage_pricing">
    <img src="~/AzureIcons/loader_spin.gif" style="width:154px; height:86px" />
</div>
<div class=" divSelectSource inline-flex " style="margin-left:31%; border:1px solid blue; padding:20px; margin-bottom:20px;">
    <div class="font-weight-bold"> Select Source </div>
    <div class="">
        <input type="checkbox" class="azureChkbox resourceCheckBox marginleft-50" name="sourceCheckbx" value="Azure" /> <span class="margin-left20 font22">Azure</span>
        <input type="checkbox" class=" awsChkbox resourceCheckBox marginleft-50" name="sourceCheckbx" value="AWS" /> <span class="margin-left20 font22">AWS </span>
    </div>
</div>
<br />
<div class="divTabContainer inline-flex margin-left25">
    <input type="button" id="btnAzureTab" class="divTab btnAzureTab bluebutton" value="Azure" />
    <input type="button" id="btnawsTab" class="divTab btnawsTab bluebutton" value="AWS" />
</div>

<div class="divpagemaincontent inline-flex azureProductList">

    <div id="divProductList" class="ProductList">
        <div class="product-search-container">
            <input class="product-search" aria-label="Search products" placeholder="Search resource" value="">
            <button class="clear-search" aria-label="Clear search" type="submit" data-bi-an="body" data-bi-tn="clear-search">×</button>
        </div>
        <div class="">
            <div class="projectdivsection">
                <div class="row-header"> Resource List: </div>
                <span class="spaninfo"> Select Resource from the list to view the estimates</span>
                <div class="divProductListAzure height800auto"></div>

            </div>
            <div class="divdisclaimer">* Limited Asset displayed only MVP</div>
        </div>
    </div>

    <div class="divestimate">
        <div class="divEstimateHeader"> Your Estimate</div>
        <div class="projectdivsection">
            <div class="row-header">Estimate</div>
            <span class="spaninfo"> Total estimation as per selected resource</span>
            <div class="estimateSummary margin10">
                <div class="estimateSummaryItem">
                    <table>
                        <tr>
                            <td>
                                <span class="font22boldmarginright30">1</span>
                            </td>
                            <td>
                                <span class="font22boldmarginright30">Virtual Machine </span>
                            </td>
                            <td>
                                <span class="font22boldmarginright30"> Cost: $ 152.57</span>
                            </td>
                        </tr>
                    </table>
                    <span class="priceText margin-left20 text-black-50" style="font-size:18px;"></span>
                </div>
            </div>
            <div class="text-center">
                <span class="costInfo">Total: </span><span class="priceText margin-left20 text-black-50">$</span><span class="totalcostAzure priceText margin-right20 text-black-50 font-weight-bold">152.57</span>
                <span class="">CF(KG CO2/Year): </span><span class="totalCF_value priceText margin-right20 text-black-50 font-weight-bold"></span>
            </div>
            <div class="text-center cfclass">
                <span class="cfTotalPercentage ">120</span>
            </div>
        </div>
        <div class="text-right" style=" cursor: pointer;">
            <input type="button" id="btnaddWorkItemIT" class="bluebutton selectedTopMenu addWorkItemIT" value="Create WorkItems" />
        </div>
    </div>
</div>

<div class="divpagemaincontent inline-flex awsProductList">
    <div id="divProductList" class="ProductList">
        <div class="product-search-container">
            <input class="product-search" aria-label="Search products" placeholder="Search resource" value="">
            <button class="clear-search" aria-label="Clear search" type="submit" data-bi-an="body" data-bi-tn="clear-search">×</button>
        </div>
        <div class="">
            <div class="projectdivsection">
                <div class="row-header"> Resource List: </div>
                <span class="spaninfo"> Select resource from the list to view the estimates</span>
                <div class="divProductListAWS height800auto"></div>

            </div>
            <div class="divdisclaimer">* Limited Asset displayed only MVP</div>
        </div>
    </div>

    <div class="divestimate">
        <div class="divEstimateHeader"> Your Estimate</div>
        <div class="projectdivsection">
            <div class="row-header">Estimate</div>
            <span class="spaninfo"> Total estimation as per selected products</span>
            <div class="estimateSummary margin10">
                <div class="estimateSummaryItem">
                    <table>
                        <tr>
                            <td>
                                <span class="font22boldmarginright30">1</span>
                            </td>
                            <td>
                                <span class="font22boldmarginright30">Virtual Machine </span>
                            </td>
                            <td>
                                <span class="font22boldmarginright30"> Cost: $ 152.57</span>
                            </td>
                        </tr>
                    </table>
                    <span class="priceText margin-left20 text-black-50" style="font-size:18px;"></span>
                </div>
            </div>
            <div class="text-center">
                <span class="costInfo">Total: </span><span class="priceText margin-left20 text-black-50">$</span><span class="totalcostAWS priceText margin-right20 text-black-50 font-weight-bold">152.57</span>
            </div>

        </div>
        <div class="text-right">
            <input type="button" id="btnaddWorkItemIT" class="bluebutton selectedTopMenu addWorkItemIT" value="Create WorkItems" />
        </div>
    </div>
</div>

<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p class="modal-message color-blue">New Work Item has been created to setup the Cloud Economics</p>
        <div>
            <img class="img-product" style="height: 13%" src="~/AzureIcons/CI.jpg" />
            <img class="img-product" style="height: 40%" src="~/AzureIcons/CF1.png" />
            <p class="modal-message color-green cfmessage"> You have saved <b> 4% </b> of Carbon footprints using our <b>OneClick </b> application till this stage.</p>
        </div>
    </div>

</div>
