<div class="text-center">
    @*<h1 class="display-4"> Pricing calculator</h1>*@
    <p class="text-heading3">Cloud AI OPS Monitor</p>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {

        var hostname = hostname = window.origin;

        // SetBackColor for TopMenu
        $(".divCloudAI").addClass("selectedTopMenu");
        $(".divCloudAI span a").addClass("selectedTopMenu");

        //Get Org and PAT
        var org = sessionStorage.getItem("org");
        var pat = sessionStorage.getItem("pat");

        function startAIMonitor() {
            // Check the WEB APP response.
            //TODO::
            var url ='https://cloudaitestapp.azurewebsites.net/';
            jQuery.ajax({
                url: url,
                type: "get",
                contentType: "application/json",
                success: function (result, status, xhr) {
                    if (status == "success") {
                        // Display logs for AI monitor
                        var logtext = " Web App is running without any issue.";
                        $(".divmonitor").append("</br>" + logtext);
                    }
                    else {
                        var logtext = " There is error in the WebApp. Reverting to the latest success build";
                        $(".divmonitor").append("</br>" + logtext);
                    }
                },
                error: function (xhr, status, error) {
                    console.log(xhr)
                }
            });

           
        }

        // Start AI OPS Monitor
        setInterval(function () {
            startAIMonitor();
        }, 60000);
        startAIMonitor();
    });
</script>

<div class="divmonitor log-text">
    Started Monitoring Web App
</div>
