<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OneClickDevOpsGithub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script>

    </script>
</head>
<body>
    <header style="display:none">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="display:inherit;text-align:center;">
            <div>
                <h1>WelCome to OneCloud Transformer</h1>
                <p class="headerMessage">( One click solution for Azure DevOps, Cloud Economics and Cloud AI )</p>
            </div>

            <div class="divMainSection" style="margin-left:27%; margin-bottom:10px; margin-top:-10px;">
                <div class="divAzureDevOps divChildSections" title="One Click Agile DevOps model delivery including development, security & Deployment ">
                    <span class="spanTopMenu">
                        <a asp-area="" asp-controller="DevOps" asp-action="DevOpsBoard">Azure DevOps </a>
                    </span>
                </div>
                <div class="divCloudEconomics divChildSections" title="One click pre-estimate of Cloud Resource cost and IT need including Capex & Opex.">
                    <span class="spanTopMenu">
                        <a asp-area="" asp-controller="Pricing" asp-action="ProductList">Cloud Economics </a>
                    </span>
                </div>
                <div class="divCloudAI divChildSections" title="One click AI based resilient Application deployment with high availability & performance ">
                    <span class="spanTopMenu">
                        <a asp-area="" asp-controller="CloudAIOPS" asp-action="AIMotnitor"> Cloud AI OPS </a>
                    </span>
                </div>
            </div>
        </nav>
    </header>
    <div class="container" style="margin-left:5%; margin-right:5%; max-width:85%">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - OneClickDevOpsGithub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    <script>
        $(function () {
            $(".divChildSections").tooltip();
        });
    </script>
</body>
</html>
